$primary-font-family:       Georgia, 'Times New Roman', Times, serif
$secondary-font-family:     Arial, Helvetica, sans-serif
$Times-font-family:         'Times New Roman'
$primary-color:             #ffffff
$secondary-color:           #545454

$primary-text-color:        #cdcdcd
$secondary-text-color:      #4c4c4c

$bg-white-color:            #fafafa
$bg-gray-color:             #f6f6f6

$shadow-color:              rgba(13, 13, 13, 0.04)

$btn-color:                 #292929
$btn-bg-color:              #8e796c
$btn-bg-hover-color:        #fddcc4
$logo-color:                #f1cdb3
$page-nav-hover-link-color: $logo-color

$pets-btn-color:            $logo-color
$pets-btn-hover-color:      #fddcc4

$donation-color:            #b2b2b2
$donation-card-bg-color:    $logo-color
$donation-card-color:       #292929

$laptop-width:              1920px
$tablet-width:              768px
$mobile-width:              460px

$laptop-width-container:    85%
$tablet-width-container:    90%
$mobile-width-container:    95%

$page-nav-min-height:       2.938rem
