$primary-font-family:       Georgia, 'Times New Roman', Times, serif
$secondary-font-family:     Arial, Helvetica, sans-serif

$primary-color:             #ffffff
$secondary-color:           #545454

$primary-text-color:        #cdcdcd
$secondary-text-color:      #4c4c4c

$btn-color:                 #292929
$btn-bg-color:              #8e796c
$btn-bg-hover-color:        #fddcc4
$logo-color:                #f1cdb3
$page-nav-hover-link-color: #f1cdb3

$laptop-width:              1920px
$tablet-width:              768px
$mobile-width:              460px

$laptop-width-container:    85%
$tablet-width-container:    90%
$mobile-width-container:    95%

$page-nav-min-height:       2.938rem
