.page-header
  position: relative
  min-height: 926px
  color: $primary-text-color
  padding-top: 60px
  background: $bg-header-footer-color url("../img/bg-header.jpg") no-repeat 70% 100%
  background-size: cover

  @media screen and (max-width: $laptop-s-width)
    min-height: 650px


  @media screen and (max-width: $tablet-width)
    background-size: cover
    min-height: 500px

  @media screen and (max-width: 600px)
    background-position: 60% 40px
    min-height: 450px

  @media screen and (max-width: 400px)
    background-image: none
    min-height: 450px

  &__content
    margin-top: 257px
    width: 40%
    +media__max-width__set-width($laptop-width, width, 30%)

    @media screen and (max-width: $laptop-s-width)
      margin-top: 157px

    @media screen and (max-width: $tablet-width)
      margin-top: 67px


    @media screen and (max-width: 600px)
      margin-top: -40px
      width: 40%

    @media screen and (max-width: 400px)
      width: 80%
      text-align: center
      margin: 25px auto





  &__title
    font-size: 2.75rem
    color: $primary-color
    margin: 0
    font-family: $primary-font-family
    font-weight: normal

    @media screen and (max-width: $tablet-width)
      font-size: 1.75rem

  &__text
    font-size: 0.938rem
    margin: 0
    margin-top: 2.813rem
    font-family: $secondary-font-family

    @media screen and (max-width: $tablet-width)
      font-size: 0.9rem

  &__btn
    display: block
    margin-top: 2.813rem
    max-width: 205px

    @media screen and (max-width: $tablet-width)
      margin-top: 2.813rem
      max-width: 165px

    @media screen and (max-width: 600px)
      font-size: 0.8rem
      padding: 1rem 1.8rem
      width: 90%

    @media screen and (max-width: 400px)
      width: 100%
      margin-right: auto
      margin-left: auto
