.page-nav
  +flex-container(row, space-between, center)
  min-height: $page-nav-min-height
  color: $primary-text-color

  &__items
    +flex-container(row, space-between)
    +indenting-reset
    width: 40%
    min-height: $page-nav-min-height
    list-style-type: none

    +media__max-width__set-width($laptop-width, min, 400px)

  &__item
    +flex-container(row, space-between, center)


  &__link
    display: flex
    text-decoration: none
    color: $primary-text-color
    font-size: .938rem
    line-height: 29px
    font-family: $secondary-font-family

    .no-touch &:hover
      border-bottom: 1px solid $page-nav-hover-link-color
