.logo
  color: $primary-text-color
  text-decoration: none

  +flex-container(column, space-between, center )

  &__primary-text
    color: $logo-color
    font-size: 2rem
    font-family: $primary-font-family
    font-weight: normal

  &__secondary-text
    font-size: 0.813rem
    letter-spacing: 0.7px
    font-family: $secondary-font-family
    font-weight: normal
